Repository eikowagenknecht/srs-converter: changes, and which lefthook commands are due for each by the changed paths.
All: eslint-fix, oxfmt-fix

eslint-fix:
  run: pnpm exec eslint '{staged_files}'

oxfmt-fix:
  run: pnpm exec oxfmt '{staged_files}' && git update-index --again

fix(anki): match Anki cloze semantics when generating cards (WP3)
  docs/working/fixplan-2026-07-10.md
  docs/working/issues.md
  src/anki/anki-package.roundtrip.test.ts
  src/anki/anki-package.ts
Due: eslint-fix, oxfmt-fix

fix(srs): correct field ordering, reverse template, review id collisions (WP5)
  docs/working/fixplan-2026-07-10.md
  docs/working/issues.md
  src/anki/anki-package.to-anki.test.ts
  src/anki/anki-package.ts
  src/srs-package.test.ts
  src/srs-package.ts
Due: eslint-fix, oxfmt-fix

fix(srs): warn when removeUnused prunes decks, note types, or notes (WP6)
  docs/working/fixplan-2026-07-10.md
  docs/working/issues.md
  src/anki/anki-package.from-anki.test.ts
  src/anki/anki-package.to-anki.test.ts
  src/anki/anki-package.ts
  src/srs-package.test.ts
  src/srs-package.ts
Due: eslint-fix, oxfmt-fix

docs: align README claims and usage docs with restored round-trip fidelity (WP7)
  README.md
  docs/README.architecture.md
  docs/decisions/0003-use-application-specific-data-for-data-preservation.md
  docs/formats/anki.md
  docs/usage/converting/anki-to-srs.md
  docs/usage/converting/srs-to-anki.md
  docs/usage/creating/universal/README.md
  docs/usage/reading/anki/README.md
  docs/working/audit-2026-07-10-repros.md
  docs/working/fixplan-2026-07-10.md
  docs/working/issues.md
Due: none

docs(anki): bank modern-schema design (ADR-0013…0016, pinned wire spec, Phase 1.3)
  docs/decisions/0013-hand-rolled-protobuf-wire-codec-for-anki-blobs.md
  docs/decisions/0014-zstd-via-node-zlib-with-engines-bump.md
  docs/decisions/0015-anki-schema-18-read-and-write-modern-default.md
  docs/decisions/0016-native-form-anki-blobs-with-write-time-conversion.md
  docs/decisions/README.md
  docs/formats/anki-schema-mapping.md
  docs/formats/anki.md
  docs/stories/README.md
  docs/stories/phase-1.md
Due: none

chore(claude): port worktree workflow and git-flow commands from openrift
  .claude/commands/commit.md
  .claude/commands/done.md
  .claude/commands/merge.md
  .claude/hooks/check-worktree-base.sh
  .claude/hooks/check-worktree-path.sh
  .claude/hooks/preflight-git-flows.sh
  .claude/hooks/quality-gates.sh
  .claude/hooks/setup-worktree.sh
  .claude/scripts/merge-branch.sh
  .claude/settings.json
  .gitignore
  CLAUDE.md
  docs/working/pending.md
Due: oxfmt-fix

test(anki): harden edge and error-path coverage for the modern-format code
  src/anki/anki-package.modern-errors.test.ts
  src/anki/database.ts
  src/anki/native-blobs.test.ts
  src/anki/protobuf-wire.edge.test.ts
  src/anki/schema-convert.edge.test.ts
  src/anki/zstd.test.ts
Due: eslint-fix, oxfmt-fix

docs(spec): revise USF spec to 1.0.0-draft.2 from maintainer review (ADR-0017, validation walk)
  docs/decisions/0004-review-log-as-scheduling-source-of-truth.md
  docs/decisions/0005-cards-as-generated-units-with-generator-descriptors.md
  docs/decisions/0007-json-directory-with-zip-transport-serialization.md
  docs/decisions/0008-first-class-deck-hierarchy-with-card-level-assignment.md
  docs/decisions/0009-stable-ids-with-source-identity-maps.md
  docs/decisions/0010-complete-core-entity-model-media-tags-timestamps-status.md
  docs/decisions/0011-namespaced-extensions-with-restore-obligations.md
  docs/decisions/0017-spec-review-refinements-to-universal-format-adrs.md
  docs/decisions/README.md
  docs/formats/validation-walk.md
  docs/spec/README.md
  docs/spec/universal-srs-format.md
Due: none

docs: fix swapped anki buried-queue labels and audit bookkeeping wording
  docs/formats/anki.md
  docs/working/issues.md
Due: none

chore: migrate issue tracking to GitHub, retire docs/working
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/ISSUE_TEMPLATE/docs-change.md
  CLAUDE.md
  docs/README.workflow.md
  docs/decisions/0004-review-log-as-scheduling-source-of-truth.md
  docs/decisions/0005-cards-as-generated-units-with-generator-descriptors.md
  docs/decisions/0011-namespaced-extensions-with-restore-obligations.md
  docs/decisions/0017-spec-review-refinements-to-universal-format-adrs.md
  docs/formats/anki.md
  docs/formats/open-decisions.md
  docs/formats/validation-walk.md
  docs/spec/universal-srs-format.md
  docs/working/README.md
  docs/working/audit-2026-07-10-repros.md
  docs/working/audit-2026-07-10-roundtrip.md
  docs/working/fixplan-2026-07-10.md
  docs/working/issues.md
  docs/working/pending.md
  scripts/anki-fixtures/compare.py
  src/anki/anki-package.modern.test.ts
  src/anki/anki-package.roundtrip.fixtures.ts
Due: eslint-fix, oxfmt-fix

docs(stories): mark phase 7 browser portability as completed
  docs/stories/README.md
  docs/stories/phase-7.md
Due: none

ci(release): install Playwright Chromium before tests
  .github/workflows/release.yml
Due: none

Notes added by 'git notes add'
  7efa89c4fc0caf7e72923da225a8ed1071d78532
Due: none

ci(release): stay pre-1.0 and use Node 24 for npm trusted publishing
  .github/workflows/release.yml
  .releaserc.json
  docs/README.commands.md
Due: oxfmt-fix

chore(release): 0.4.0 [skip ci]
  CHANGELOG.md
  package.json
Due: oxfmt-fix

Notes added by 'git notes add'
  6af2a906f32ab3d1944223623b17de6687c504c4
Due: none

Path conditions:
  eslint-fix: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx}
  oxfmt-fix: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}
