Repository eikowagenknecht/srs-converter: changes, and which lefthook commands are due for each by the changed paths.
All: eslint-fix, biome-check-and-fix

eslint-fix:
  run: pnpm exec eslint '{staged_files}'

biome-check-and-fix:
  run: pnpm exec biome check --write --no-errors-on-unmatched --files-ignore-unknown=true '{staged_files}' && git update-index --again

refactor(test): replace imprecise expectations with exact values
  src/anki/anki-package.test.ts
Due: eslint-fix, biome-check-and-fix

test: remove story from names
  src/anki/anki-package.test.ts
Due: eslint-fix, biome-check-and-fix

docs: update stories
  docs/stories/README.md
  docs/stories/phase-1.md
Due: none

docs: update test guides
  docs/README.testing.md
Due: none

refactor(test): split large anki-package test file into focused modules
  src/anki/anki-package.creation.test.ts
  src/anki/anki-package.deck.test.ts
  src/anki/anki-package.errors.test.ts
  src/anki/anki-package.fixtures.ts
  src/anki/anki-package.from-anki.test.ts
  src/anki/anki-package.io.test.ts
  src/anki/anki-package.media.test.ts
  src/anki/anki-package.test.ts
  src/anki/anki-package.to-anki.test.ts
  src/anki/anki-package.utils.test.ts
Due: eslint-fix, biome-check-and-fix

style: run oxfmt
  .github/ISSUE_TEMPLATE/config.yml
  .github/PULL_REQUEST_TEMPLATE/pull-request-template.md
  .github/copilot-instructions.md
  .github/workflows/conventional-pull-request.yml
  .github/workflows/release.yml
  CHANGELOG.md
  CLA.md
  CLAUDE.md
  README.md
  docs/usage/creating/universal/README.md
  package.json
  pnpm-lock.yaml
  src/anki/anki-package.errors.test.ts
  src/anki/anki-package.from-anki.test.ts
  src/anki/anki-package.utils.test.ts
  tsconfig.json
Due: eslint-fix, biome-check-and-fix

chore: update lockfile
  pnpm-lock.yaml
Due: none

style: redo oxfmt
  .oxfmtrc.json
  biome.json
  docs/usage/converting/anki-to-srs.test.ts
  docs/usage/converting/srs-to-anki.test.ts
  docs/usage/creating/anki/raw-anki-methods.test.ts
  docs/usage/creating/universal/README.test.ts
  docs/usage/exporting/anki/README.test.ts
  docs/usage/reading/anki/README.test.ts
  eslint.config.ts
  lefthook.yml
  package.json
  src/anki/anki-package.creation.test.ts
  src/anki/anki-package.deck.test.ts
  src/anki/anki-package.errors.test.ts
  src/anki/anki-package.fixtures.ts
  src/anki/anki-package.from-anki.test.ts
  src/anki/anki-package.io.test.ts
  src/anki/anki-package.media.test.ts
  src/anki/anki-package.to-anki.test.ts
  src/anki/anki-package.ts
  src/anki/anki-package.utils.test.ts
  src/anki/database.test.ts
  src/anki/database.ts
  src/anki/util.test.ts
  src/anki/util.ts
  src/error-handling.test.ts
  src/index.ts
  src/srs-package.ts
  tests/dist/read-compatibility.mjs
Due: eslint-fix, biome-check-and-fix

chore: remove biome
  .github/copilot-instructions.md
  biome.json
  docs/README.architecture.md
  docs/README.commands.md
  docs/usage/converting/anki-to-srs.test.ts
  docs/usage/converting/srs-to-anki.test.ts
  package.json
  pnpm-lock.yaml
  src/anki/anki-package.creation.test.ts
  src/anki/anki-package.deck.test.ts
  src/anki/anki-package.errors.test.ts
  src/anki/anki-package.fixtures.ts
  src/anki/anki-package.from-anki.test.ts
  src/anki/anki-package.io.test.ts
  src/anki/anki-package.media.test.ts
  src/anki/anki-package.to-anki.test.ts
  src/anki/anki-package.ts
  src/anki/anki-package.utils.test.ts
  src/anki/constants.ts
Due: eslint-fix, biome-check-and-fix

chore: migrate rules to oxliont
  .oxlintrc.json
  lefthook.yml
  package.json
  pnpm-lock.yaml
Due: biome-check-and-fix

chore: oxlint pedantic category
  .oxlintrc.json
Due: biome-check-and-fix

chore: migrate rules to oxlint
  .oxlintrc.json
  docs/usage/converting/anki-to-srs.test.ts
  docs/usage/converting/srs-to-anki.test.ts
  docs/usage/creating/anki/raw-anki-methods.test.ts
  docs/usage/creating/universal/README.test.ts
  docs/usage/exporting/anki/README.test.ts
  docs/usage/reading/anki/README.test.ts
  src/anki/anki-package.creation.test.ts
  src/anki/anki-package.deck.test.ts
  src/anki/anki-package.errors.test.ts
  src/anki/anki-package.fixtures.ts
  src/anki/anki-package.from-anki.test.ts
  src/anki/anki-package.io.test.ts
  src/anki/anki-package.media.test.ts
  src/anki/anki-package.to-anki.test.ts
  src/anki/anki-package.ts
  src/anki/anki-package.utils.test.ts
  src/anki/constants.ts
  src/anki/database.test.ts
  src/anki/database.ts
  src/anki/util.test.ts
  src/anki/util.ts
  src/error-handling.ts
  src/srs-package.ts
Due: eslint-fix, biome-check-and-fix

chore: lefthook check only for oxlint
  lefthook.yml
Due: none

chore: remove eslint
  .oxlintrc.json
  docs/README.architecture.md
  docs/README.commands.md
  docs/usage/converting/anki-to-srs.test.ts
  docs/usage/converting/srs-to-anki.test.ts
  eslint.config.ts
  package.json
  pnpm-lock.yaml
  src/anki/anki-package.ts
Due: eslint-fix, biome-check-and-fix

test: fix json order
  src/anki/util.test.ts
Due: eslint-fix, biome-check-and-fix

style: fix no-negated-condition linter warnings
  .oxlintrc.json
  src/anki/anki-package.ts
Due: eslint-fix, biome-check-and-fix

style: remove unnecessary async from functions without await
  src/anki/anki-package.fixtures.ts
  src/anki/database.ts
Due: eslint-fix, biome-check-and-fix

style: use unicode escapes instead of hex escapes
  .oxlintrc.json
  docs/usage/creating/anki/raw-anki-methods.test.ts
  docs/usage/exporting/anki/README.test.ts
  docs/usage/reading/anki/README.test.ts
  src/anki/anki-package.to-anki.test.ts
  src/anki/anki-package.ts
  src/anki/anki-package.utils.test.ts
Due: eslint-fix, biome-check-and-fix

style: make oxlint and oxfmt compatible
  .oxlintrc.json
Due: biome-check-and-fix

style: enable no-array-callback-reference lint rule
  .oxlintrc.json
  src/anki/database.ts
Due: eslint-fix, biome-check-and-fix

style: enable prefer-native-coercion-functions lint rule
  .oxlintrc.json
  src/anki/anki-package.ts
Due: eslint-fix, biome-check-and-fix

style: enable prefer-code-point lint rule
  .oxlintrc.json
  src/anki/util.ts
Due: eslint-fix, biome-check-and-fix

style: fix no-await-expression-member lint warnings
  src/anki/anki-package.errors.test.ts
  src/anki/anki-package.fixtures.ts
  src/anki/anki-package.media.test.ts
Due: eslint-fix, biome-check-and-fix

style: enable catch-error-name lint rule
  .oxlintrc.json
  src/anki/util.test.ts
Due: eslint-fix, biome-check-and-fix

style: enable switch-case-braces lint rule
  .oxlintrc.json
  src/anki/anki-package.ts
Due: eslint-fix, biome-check-and-fix

style: enable filename-case lint rule
  .oxlintrc.json
  docs/usage/creating/universal/readme.test.ts
  docs/usage/exporting/anki/readme.test.ts
  docs/usage/reading/anki/readme.test.ts
Due: eslint-fix, biome-check-and-fix

fix: resolve no-shadow lint errors for oxlint 1.48.0
  docs/usage/converting/anki-to-srs.test.ts
  docs/usage/converting/srs-to-anki.test.ts
  docs/usage/creating/anki/raw-anki-methods.test.ts
  docs/usage/creating/universal/readme.test.ts
  docs/usage/exporting/anki/readme.test.ts
  docs/usage/reading/anki/readme.test.ts
  src/anki/anki-package.creation.test.ts
  src/anki/anki-package.deck.test.ts
  src/anki/anki-package.errors.test.ts
  src/anki/anki-package.fixtures.ts
  src/anki/anki-package.from-anki.test.ts
  src/anki/anki-package.io.test.ts
  src/anki/anki-package.media.test.ts
  src/anki/anki-package.to-anki.test.ts
  src/anki/anki-package.ts
  src/anki/database.test.ts
  src/anki/database.ts
  src/anki/util.test.ts
  src/anki/util.ts
  vitest.config.ts
Due: eslint-fix, biome-check-and-fix

chore(deps): bump all dependencies to latest versions
  package.json
  pnpm-lock.yaml
  src/anki/anki-package.to-anki.test.ts
  src/anki/anki-package.ts
  tsconfig.json
Due: eslint-fix, biome-check-and-fix

fix(lint): disable import/no-nodejs-modules rule
  .oxlintrc.json
Due: biome-check-and-fix

chore(deps): update dependencies to latest and fix resulting fallout
  docs/decisions/adr-template.md
  package.json
  pnpm-lock.yaml
  src/anki/anki-package.creation.test.ts
  src/anki/anki-package.deck.test.ts
  src/anki/anki-package.errors.test.ts
  src/anki/anki-package.fixtures.ts
  src/anki/anki-package.from-anki.test.ts
  src/anki/anki-package.io.test.ts
  src/anki/anki-package.to-anki.test.ts
  src/anki/anki-package.ts
  src/anki/database.test.ts
  src/anki/util.test.ts
  src/anki/util.ts
Due: eslint-fix, biome-check-and-fix

chore(deps): sync lockfile oxlint specifier with package.json
  pnpm-lock.yaml
Due: none

chore(claude): modernize agent workflow for Opus 4.8
  .claude/hooks/quality-gates.sh
  .claude/hooks/track-edits.sh
  .claude/settings.json
  CLAUDE.md
  docs/README.workflow.md
Due: biome-check-and-fix

docs(formats): add cross-format research and decision backlog for story 5.0.1
  docs/formats/README.md
  docs/formats/anki.md
  docs/formats/mnemosyne.md
  docs/formats/mochi.md
  docs/formats/open-decisions.md
  docs/formats/prior-art.md
  docs/formats/supermemo.md
  docs/stories/README.md
  docs/stories/phase-5.md
Due: none

docs(working): add round-trip fidelity audit, fix plan, and issue entries
  docs/working/audit-2026-07-10-repros.md
  docs/working/audit-2026-07-10-roundtrip.md
  docs/working/fixplan-2026-07-10.md
  docs/working/issues.md
Due: none

chore(test): exclude nested agent worktrees from vitest discovery
  vitest.config.ts
Due: eslint-fix, biome-check-and-fix

docs(decisions): add ADR-0004 through ADR-0012 for the universal SRS format
  docs/decisions/0003-use-application-specific-data-for-data-preservation.md
  docs/decisions/0004-review-log-as-scheduling-source-of-truth.md
  docs/decisions/0005-cards-as-generated-units-with-generator-descriptors.md
  docs/decisions/0006-declared-content-dialects-and-universal-template-language.md
  docs/decisions/0007-json-directory-with-zip-transport-serialization.md
  docs/decisions/0008-first-class-deck-hierarchy-with-card-level-assignment.md
  docs/decisions/0009-stable-ids-with-source-identity-maps.md
  docs/decisions/0010-complete-core-entity-model-media-tags-timestamps-status.md
  docs/decisions/0011-namespaced-extensions-with-restore-obligations.md
  docs/decisions/0012-conformance-profiles-and-mandatory-loss-reporting.md
  docs/decisions/README.md
  docs/formats/open-decisions.md
  docs/stories/README.md
  docs/stories/phase-5.md
Due: none

docs(spec): draft the universal SRS format specification (story 5.0.5)
  docs/spec/README.md
  docs/spec/universal-srs-format.md
  docs/stories/README.md
  docs/stories/phase-5.md
Due: none

fix(anki): restore full Anki fidelity in SRS round-trips via blob capture (WP2)
  docs/working/audit-2026-07-10-repros.md
  docs/working/fixplan-2026-07-10.md
  docs/working/issues.md
  src/anki/anki-package.roundtrip.fixtures.ts
  src/anki/anki-package.roundtrip.test.ts
  src/anki/anki-package.to-anki.test.ts
  src/anki/anki-package.ts
  src/anki/util.test.ts
  src/anki/util.ts
  src/srs-package.ts
Due: eslint-fix, biome-check-and-fix

fix(anki): preserve 64-bit ids and digit-only strings in models JSON (WP1)
  docs/working/fixplan-2026-07-10.md
  docs/working/issues.md
  src/anki/anki-package.from-anki.test.ts
  src/anki/anki-package.to-anki.test.ts
  src/anki/database.test.ts
  src/anki/database.ts
  src/anki/util.test.ts
  src/anki/util.ts
Due: eslint-fix, biome-check-and-fix

feat(srs): add first-class media support and carry it through conversions (WP4)
  docs/usage/converting/anki-to-srs.md
  docs/usage/converting/anki-to-srs.test.ts
  docs/working/fixplan-2026-07-10.md
  docs/working/issues.md
  src/anki/anki-package.from-anki.test.ts
  src/anki/anki-package.roundtrip.fixtures.ts
  src/anki/anki-package.roundtrip.test.ts
  src/anki/anki-package.to-anki.test.ts
  src/anki/anki-package.ts
  src/anki/anki-package.utils.test.ts
  src/anki/util.ts
  src/media-store.ts
  src/srs-package.ts
Due: eslint-fix, biome-check-and-fix

Path conditions:
  eslint-fix: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx}
  biome-check-and-fix: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}
