Repository eikowagenknecht/srs-converter: changes, and which lefthook commands are due for each by the changed paths.
All: eslint-fix, biome-check-and-fix

eslint-fix:
  run: pnpm exec eslint '{staged_files}'

biome-check-and-fix:
  run: pnpm exec biome check --write --no-errors-on-unmatched --files-ignore-unknown=true '{staged_files}' && git update-index --again

test: add write test
  src/anki/anki-package.test.ts
Due: eslint-fix, biome-check-and-fix

feat: add utils for parsing and serializing BigInt in JSON
  src/anki/util.test.ts
  src/anki/util.ts
Due: eslint-fix, biome-check-and-fix

refactor: improve parseWithBigInts precision and path handling
  src/anki/util.test.ts
  src/anki/util.ts
Due: eslint-fix, biome-check-and-fix

fix: integrate BigInt serialization throughout Anki package handling
  src/anki/anki-package.test.ts
  src/anki/anki-package.ts
  src/anki/database.ts
  src/anki/types.ts
Due: eslint-fix, biome-check-and-fix

docs: update story completion status based on recent implementation
  docs/stories/README.md
Due: none

feat: change license from AGPL-3.0-or-later to MIT
  LICENSE
  package.json
Due: biome-check-and-fix

docs: update license in readme
  README.md
Due: none

test: update folder config for additional tests not in src dir
  tsconfig.json
  vitest.config.ts
Due: eslint-fix, biome-check-and-fix

docs: restructure usage documentation with comprehensive guides and tested examples
  README.md
  docs/README.usage.md
  docs/stories/README.md
  docs/usage/README.md
  docs/usage/converting/README.md
  docs/usage/converting/anki-to-srs.md
  docs/usage/converting/anki-to-srs.test.ts
  docs/usage/converting/srs-to-anki.md
  docs/usage/converting/srs-to-anki.test.ts
  docs/usage/creating/README.md
  docs/usage/creating/anki/README.md
  docs/usage/creating/anki/raw-anki-methods.md
  docs/usage/creating/anki/raw-anki-methods.test.ts
  docs/usage/creating/universal/README.md
  docs/usage/creating/universal/README.test.ts
  docs/usage/exporting/README.md
  docs/usage/exporting/anki/README.md
  docs/usage/exporting/anki/README.test.ts
  docs/usage/reading/README.md
  docs/usage/reading/anki/README.md
  docs/usage/reading/anki/README.test.ts
  package.json
  tsconfig.json
Due: eslint-fix, biome-check-and-fix

style: fix formatting inconsistencies in documentation
  docs/README.testing.md
  docs/README.workflow.md
  docs/decisions/0001-design-srs-converter-as-standalone-npm-package.md
  docs/decisions/0002-implement-tri-state-error-handling-for-srs-converter.md
  docs/decisions/adr-template.md
Due: none

0.2.0
  package.json
Due: biome-check-and-fix

build: improve build process and fix npm package structure
  package.json
  tsconfig.build.json
  tsconfig.json
Due: biome-check-and-fix

0.2.1
  package.json
Due: biome-check-and-fix

chore: get rid of git LFS
  .gitattributes
Due: none

chore: add back in templates
  src/anki/anki-package.test.ts
  templates/anki/empty-latest.apkg
  templates/anki/empty-legacy-2.apkg
  templates/anki/empty-legacy-2.colpkg
  templates/anki/mixed-legacy-2.apkg
Due: eslint-fix, biome-check-and-fix

ci: remove lfs from actions
  .github/workflows/quality-check.yml
Due: none

chore: update remaining AGPL reference
  README.md
Due: none

docs: update readme links
  README.md
Due: none

docs: create GitHub Copilot instructions (#12)
  .github/copilot-instructions.md
Due: none

chore: update deps
  package.json
  pnpm-lock.yaml
Due: biome-check-and-fix

refactor: apply new lint fixes
  src/anki/anki-package.ts
Due: eslint-fix, biome-check-and-fix

chore: update biome json
  biome.json
Due: biome-check-and-fix

chore: update deps
  eslint.config.ts
  package.json
  pnpm-lock.yaml
Due: eslint-fix, biome-check-and-fix

chore: fix type error
  eslint.config.ts
Due: eslint-fix, biome-check-and-fix

fix: resolve TypeScript path aliases in built output using tsup
  package.json
  pnpm-lock.yaml
Due: biome-check-and-fix

fix: resolve TypeScript path aliases in built output using tsup (#19)
  package.json
  pnpm-lock.yaml
Due: biome-check-and-fix

chore: remove unneeded types
  package.json
  pnpm-lock.yaml
Due: biome-check-and-fix

style: fix linting error
  src/anki/util.ts
Due: eslint-fix, biome-check-and-fix

0.2.2
  package.json
Due: biome-check-and-fix

fix: use namespace import for protobufjs to resolve module resolution issues
  src/anki/anki-package.ts
Due: eslint-fix, biome-check-and-fix

fix: resolve protobufjs import errors in downstream projects (#21)
  src/anki/anki-package.ts
Due: eslint-fix, biome-check-and-fix

0.2.3
  package.json
Due: biome-check-and-fix

docs: update id preservation story
  docs/stories/README.md
Due: none

docs: update ai workflow
  docs/README.workflow.md
Due: none

docs: update ai guides
  CLAUDE.md
  docs/README.workflow.md
Due: none

docs: improve ai prompt
  CLAUDE.md
Due: none

feat: implement ID preservation across round-trip conversions
  docs/decisions/0003-use-application-specific-data-for-data-preservation.md
  docs/decisions/README.md
  docs/stories/README.md
  docs/working/issues.md
  docs/working/pending.md
  src/anki/anki-package.test.ts
  src/anki/anki-package.ts
  src/srs-package.ts
Due: eslint-fix, biome-check-and-fix

test: fix and enable ID preservation test by adding missing card
  src/anki/anki-package.test.ts
Due: eslint-fix, biome-check-and-fix

chore: scope gitignore patterns to root directories only
  .gitignore
Due: none

test: add distribution testing to verify built package compatibility
  eslint.config.ts
  package.json
  tests/dist/read-compatibility.mjs
Due: eslint-fix, biome-check-and-fix

Path conditions:
  eslint-fix: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx}
  biome-check-and-fix: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}
