Repository eikowagenknecht/srs-converter: changes, and which lefthook commands are due for each by the changed paths.
All: eslint-fix, biome-check-and-fix

lefthook.yml:

# Refer for explanation to following link:
# https://github.com/evilmartians/lefthook/blob/master/docs/usage.md

commit-msg:
  commands:
    lint-commit-msg:
      run: pnpm exec commitlint --edit

pre-commit:
  parallel: false
  commands:
    eslint-fix:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx}"
      run: pnpm exec eslint '{staged_files}'
    biome-check-and-fix:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: pnpm exec biome check --write --no-errors-on-unmatched --files-ignore-unknown=true '{staged_files}' && git update-index --again
    typescript-check:
      run: pnpm exec tsc --noEmit

docs: add LICENSE
  LICENSE
Due: none

test: add vitest config
  vitest.config.ts
Due: eslint-fix, biome-check-and-fix

test: add missing templates
  .gitattributes
  templates/emptyLatest.apkg
  templates/emptyLegacy2.apkg
  templates/emptyLegacy2.colpkg
Due: none

test: add missing templates
  .gitattributes
Due: none

ci: add github actions
  .github/workflows/conventional-pull-request.yml
  .github/workflows/quality-check.yml
Due: none

ci: add dependabot config
  .github/dependabot.yml
Due: none

docs: add readme files
  CLAUDE.md
  README.md
  docs/README.architecture.md
  docs/README.commands.md
  docs/README.git.md
  docs/README.setup.md
  docs/README.testing.md
  package.json
Due: biome-check-and-fix

docs: add ADR docs
  README.md
  docs/decisions/0001-design-srs-converter-as-standalone-npm-package.md
  docs/decisions/0002-implement-tri-state-error-handling-for-srs-converter.md
  docs/decisions/README.md
  docs/decisions/adr-template.md
Due: none

docs: add living documentation
  docs/working/README.md
  docs/working/issues.md
  docs/working/pending.md
Due: none

docs: add stories / roadmap
  README.md
  docs/README.architecture.md
  docs/stories/README.md
Due: none

docs: update docs
  CLA.md
  CLAUDE.md
  CONTRIBUTING.md
  README.md
  docs/README.usage.md
  docs/README.workflow.md
  docs/decisions/README.md
  docs/decisions/adr-template.md
  docs/stories/README.md
Due: none

docs: add funding
  .github/funding.yml
Due: none

docs: github specific docs
  .github/ISSUE_TEMPLATE/bug-report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature-request.yml
  .github/PULL_REQUEST_TEMPLATE/pull-request-template.md
  CLA.md
  CONTRIBUTING.md
Due: none

chore: update package.json for publishing
  package.json
Due: biome-check-and-fix

docs: update readme
  README.md
Due: none

docs: update pblishing state
  README.md
Due: none

chore: bump version to 0.1.1 for npm publish
  package.json
Due: biome-check-and-fix

ci: add simple versioning scripts
  package.json
Due: biome-check-and-fix

docs: fix usage example
  docs/README.usage.md
Due: none

docs: add hint about image occlusions syntax
  src/anki/types.ts
Due: eslint-fix, biome-check-and-fix

feat: handle clozes when reading anki decks
  src/anki/anki-package.test.ts
  src/anki/anki-package.ts
  src/srs-package.ts
  templates/mixedLegacy2.apkg
Due: eslint-fix, biome-check-and-fix

feat: handle clozes when reading anki decks
  src/anki/anki-package.test.ts
  src/anki/anki-package.ts
  src/srs-package.ts
Due: eslint-fix, biome-check-and-fix
