Repository eikowagenknecht/srs-converter: changes, and which lefthook commands are due for each by the changed paths.
All: eslint-fix, biome-check-and-fix

eslint-fix:
  run: pnpm exec eslint '{staged_files}'

biome-check-and-fix:
  run: pnpm exec biome check --write --no-errors-on-unmatched --files-ignore-unknown=true '{staged_files}' && git update-index --again

fix: resolve protobufjs ESM compatibility issue in distributed package
  src/anki/anki-package.ts
Due: eslint-fix, biome-check-and-fix

0.2.4
  package.json
Due: biome-check-and-fix

build: migrate from tsup to tsdown and add multi-runtime testing
  package.json
  pnpm-lock.yaml
  tests/dist/read-compatibility.mjs
Due: eslint-fix, biome-check-and-fix

ci: implement semantic-release for automated GitHub releases
  .github/workflows/release.yml
  .releaserc.json
  package.json
  pnpm-lock.yaml
Due: biome-check-and-fix

refactor: improve release workflow clarity and consistency
  .github/workflows/quality-check.yml
  .github/workflows/release.yml
  package.json
Due: biome-check-and-fix

docs: update working documents
  docs/working/issues.md
  docs/working/pending.md
Due: none

docs: split stories into phases
  docs/stories/README.md
  docs/stories/phase-1.md
  docs/stories/phase-2.md
  docs/stories/phase-3.md
  docs/stories/phase-4.md
  docs/stories/phase-5.md
  docs/stories/phase-6.md
Due: none

feat: add media file retrieval APIs for Anki packages
  README.md
  docs/stories/README.md
  docs/stories/phase-1.md
  docs/usage/reading/anki/README.md
  docs/usage/reading/anki/README.test.ts
  src/anki/anki-package.test.ts
  src/anki/anki-package.ts
Due: eslint-fix, biome-check-and-fix

test: fix some test incompatibilities with bun
  docs/usage/reading/anki/README.test.ts
  package.json
  src/anki/anki-package.test.ts
  src/anki/util.test.ts
Due: eslint-fix, biome-check-and-fix

test: add missing import
  src/anki/anki-package.test.ts
Due: eslint-fix, biome-check-and-fix

test: move fixtures
  docs/usage/reading/anki/README.test.ts
  src/anki/anki-package.test.ts
  tests/dist/read-compatibility.mjs
  tests/fixtures/anki/empty-latest.apkg
  tests/fixtures/anki/empty-legacy-2.apkg
  tests/fixtures/anki/empty-legacy-2.colpkg
  tests/fixtures/anki/mixed-legacy-2.apkg
Due: eslint-fix, biome-check-and-fix

docs: update story
  docs/stories/phase-1.md
Due: none

feat: add API for adding media files to Anki packages
  README.md
  docs/stories/README.md
  docs/stories/phase-1.md
  docs/usage/creating/anki/raw-anki-methods.md
  docs/usage/creating/anki/raw-anki-methods.test.ts
  src/anki/anki-package.test.ts
  src/anki/anki-package.ts
  tests/fixtures/media/audio.mp3
  tests/fixtures/media/image.png
  tests/fixtures/media/video.mp4
Due: eslint-fix, biome-check-and-fix

chore(release): 0.3.0 [skip ci]
  CHANGELOG.md
  package.json
Due: biome-check-and-fix

Notes added by 'git notes add'
  41c8465d716f3f70909b5c44a33d788208240820
Due: none

docs: add history to changelog
  CHANGELOG.md
Due: none

docs: add git rules
  CLAUDE.md
  docs/README.git.md
Due: none

chore: add knip and jscpd
  package.json
Due: biome-check-and-fix

chore: update pnpm
  package.json
  pnpm-lock.yaml
Due: biome-check-and-fix

feat: add removeMediaFile() API for media file removal
  docs/stories/phase-1.md
  docs/usage/creating/anki/raw-anki-methods.md
  docs/usage/creating/anki/raw-anki-methods.test.ts
  docs/working/issues.md
  src/anki/anki-package.test.ts
  src/anki/anki-package.ts
Due: eslint-fix, biome-check-and-fix

feat(anki): add removeMediaFile() API for media file removal
  docs/stories/README.md
  docs/stories/phase-1.md
  docs/usage/creating/anki/raw-anki-methods.md
  docs/usage/creating/anki/raw-anki-methods.test.ts
  src/anki/anki-package.test.ts
  src/anki/anki-package.ts
Due: eslint-fix, biome-check-and-fix

feat(anki): preserve plugin data in SRS round-trip conversions
  docs/stories/README.md
  docs/stories/phase-1.md
  src/anki/anki-package.test.ts
  src/anki/anki-package.ts
Due: eslint-fix, biome-check-and-fix

test: remove outdated line number references from test comments
  docs/usage/creating/anki/raw-anki-methods.test.ts
  src/anki/database.test.ts
  src/anki/util.test.ts
Due: eslint-fix, biome-check-and-fix

docs: document plugin data handling for Anki conversions
  docs/stories/README.md
  docs/stories/phase-1.md
  docs/usage/converting/anki-to-srs.md
  docs/usage/converting/anki-to-srs.test.ts
  docs/usage/converting/srs-to-anki.md
  docs/usage/reading/anki/README.md
Due: eslint-fix, biome-check-and-fix

docs: update plugin data support status to Full
  README.md
Due: none

docs: improve guidelines for Opus/Sonnet compatibility
  CLAUDE.md
  docs/README.workflow.md
  src/anki/anki-package.test.ts
Due: eslint-fix, biome-check-and-fix

feat(anki): add removeUnreferencedMediaFiles() API for media cleanup
  docs/stories/README.md
  docs/stories/phase-1.md
  docs/usage/creating/anki/raw-anki-methods.md
  docs/usage/creating/anki/raw-anki-methods.test.ts
  src/anki/anki-package.test.ts
  src/anki/anki-package.ts
Due: eslint-fix, biome-check-and-fix

docs: improve guidelines for Opus/Sonnet compatibility
  CLAUDE.md
  docs/README.workflow.md
Due: none

docs(stories): break down Story 1.0.5 into 5 substories
  docs/stories/README.md
  docs/stories/phase-1.md
Due: none

feat(anki): add specific error messages for corrupted ZIP archives
  docs/stories/README.md
  docs/stories/phase-1.md
  src/anki/anki-package.test.ts
  src/anki/anki-package.ts
Due: eslint-fix, biome-check-and-fix

feat(anki): detect missing required files in Anki packages
  docs/stories/README.md
  docs/stories/phase-1.md
  src/anki/anki-package.test.ts
  src/anki/anki-package.ts
Due: eslint-fix, biome-check-and-fix

refactor(anki): move validation logic from database to package layer
  src/anki/anki-package.test.ts
  src/anki/anki-package.ts
  src/anki/database.ts
  src/error-handling.ts
Due: eslint-fix, biome-check-and-fix

feat(anki): detect corrupted SQLite databases with specific error messages
  docs/README.testing.md
  docs/stories/README.md
  docs/stories/phase-1.md
  src/anki/anki-package.test.ts
  src/anki/anki-package.ts
  src/anki/database.ts
Due: eslint-fix, biome-check-and-fix

feat(anki): validate JSON in media mapping file with specific error messages
  docs/stories/README.md
  docs/stories/phase-1.md
  src/anki/anki-package.test.ts
  src/anki/anki-package.ts
Due: eslint-fix, biome-check-and-fix

test: use constant
  src/anki/anki-package.test.ts
Due: eslint-fix, biome-check-and-fix

test: extract helpers, add TODOs
  src/anki/anki-package.test.ts
Due: eslint-fix, biome-check-and-fix

refactor(test): consolidate createTestNote into createTestAnkiNote
  src/anki/anki-package.test.ts
Due: eslint-fix, biome-check-and-fix

refactor(test): rename expectSuccessOrPartial to expectPartial
  src/anki/anki-package.test.ts
Due: eslint-fix, biome-check-and-fix

refactor(test): add proper return types to helper functions
  src/anki/anki-package.test.ts
  src/srs-package.ts
Due: eslint-fix, biome-check-and-fix

refactor(test): simplify createValidAnkiDatabase with fixture extraction
  src/anki/anki-package.test.ts
Due: eslint-fix, biome-check-and-fix

Path conditions:
  eslint-fix: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx}
  biome-check-and-fix: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}
